/*** Primary Page Styles *********************/
:root {
    --background: #f3f6fa;
    --font: #3b4145;
    --border: #333;
    --button: #eee;
    --button-hover: #ddd;
    --button-active: #ccc;
    --red: #faa;
    --button-red-hover: #e99;
    --button-red-active: #d88;
    --blue: #aaf;
    --button-blue-hover: #99e;
    --button-blue-active: #88d;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Courier New', 'Times New Roman', serif;
    font-weight: bold;
    line-height: 1.4em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 500px;
    padding: 1em;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/*** Calculator Styles *********************/
.app {
    width: 650px;
    border: 2px var(--border) solid;
    border-radius: 16px;
    padding: 1.4em;
    margin: 1.4em;
    background-color: var(--calculator);
}

/*** Button Specific Styles *********************/
.button {
    padding: 1em 1.4em;
    border: 2px var(--border) solid;
    border-radius: 4px;
    background-color: var(--button);
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:active {
    background-color: var(--button-active);
}

.red {
    background-color: var(--red);
}

.red:hover {
    background-color: var(--button-red-hover);
}

.red:active {
    background-color: var(--button-red-active);
}

.blue {
    background-color: var(--blue);
}

.blue:hover {
    background-color: var(--button-blue-hover);
}

.blue:active {
    background-color: var(--button-blue-active);
}

/*** Mobile Styles *********************/
@media only screen and (max-width: 700px) {
    h1,
    p {
        margin: 8px;
    }

    .app {
        width: 85vw;
        padding: 1em;
        margin: 1em;
    }
